body {
    background: linear-gradient(rgb(249, 165, 249), rgb(67, 67, 255))
}

.board td {
    border: solid 1px white; 
}

table {
    max-width: 50%;
    color: white;
}

.board {
    text-align: center;
    font-size: 100px;
    margin-left:auto; 
    margin-right:auto;
    padding: .50em;
    grid-auto-rows: 1fr;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

p {
    text-align: center;
    padding: .5em;
    color: white;
}
form {
    text-align: center;
    padding: .5em;
}